.wrapper {
   background: #504e4e;
}

.slider {
   max-width: 50%;
   margin: 10% auto;
   overflow: hidden;
   padding: 1%;
}

.slider__body {
   display: flex;
   align-items: center;
   width: 400%;
   margin-bottom: 2rem;
   /*gap: 1rem;*/
}

.slider__body>*:not(:last-child) {
   margin-right: 1rem;
}

input {
   display: none;
}

.slider__img {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10%;
   width: 25%;
   max-width: 27%;
   transition: all .4s ease;
   
}


.slider__img img {
   /*border-radius: 10px;*/
   max-width: 50rem;
   width: 100%;
   height: auto;
   border-radius: 1rem;
   display: block;
}

.slider__underbody {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 70%;
   /*margin-left: 10%;*/
}

.slider__alltext {
   width: 25%;
   overflow: hidden;
}

.slider__text-content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 400%;
   transition: all .4s ease;
}

.slider__text {
   width: 25%;
   font-family: 'Mooli',sans-serif;;
   font-weight: 400;
   font-size: 120%;
   color: #fff;
   
}

.slider__navigation {
   width: 30%;
   
}

.slider__navigation>*:not(:last-child) {
   margin-right: .5rem;
}

.bar {
   display: inline-block;
   width: 1.3em;
   height: 1.3em;
   border: 3px solid #fff;
   border-radius: 50%;
   background: #66ce66;
   transition: .4s;
   cursor: pointer;
}



.bar:hover {
   background: #66ce66;
   border: none;
   transform: scale(1.2);
}

.bar:active {
   background: #fff;
}


#radio_1:checked ~ .slider__body>.first-img {
   margin-left: -0%;
}
#radio_2:checked ~ .slider__body>.first-img {
   margin-left: -25%;
}
#radio_3:checked ~ .slider__body>.first-img {
   margin-left: -50%;
}
#radio_4:checked ~ .slider__body>.first-img {
   margin-left: -75%;
}




#radio_1:checked~.slider__underbody>.slider__alltext>.slider__text-content {
   transform: translateX(0);
}

#radio_2:checked~.slider__underbody>.slider__alltext>.slider__text-content {
   transform: translateX(-25%);
}

#radio_3:checked~.slider__underbody>.slider__alltext>.slider__text-content {
   transform: translateX(-50%);
}

#radio_4:checked~.slider__underbody>.slider__alltext>.slider__text-content {
   transform: translateX(-75%);
}




